<!-- players.html -->
{% extends 'layout.html' %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th>Player Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for player in players %}
<tr>
    <td>{{ player.player_name }}</td>
    <td>
        <!-- Update Button -->
        <form action="{{ url_for('player_bp.update_player_form', player_api_id_x=player.player_api_id_x) }}" method="post">
            <input  type = 'hidden' name="name" value="{{ player.player_name }}">
            <button class="button button-update" data-action="update">Update</button>
        </form>
        <!-- Delete Button -->
        <form action="{{ url_for('player_bp.delete_player', player_api_id_x=player.player_api_id_x) }}" method="post">
            <button class="button button-danger" data-action="delete">Delete</button>
        </form>
    </td>
</tr>
{% endfor %}

    </tbody>
  </table>
{% endblock %}
